<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>Steenify</title>

<link rel="stylesheet" href="/public/css/bootstrap.min.css" />
<link rel="stylesheet" href="/public/css/slick.css" />
<link rel="stylesheet" href="<%= mainCSS ? mainCSS : 'dist/main.css' %>" />
