<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <main class="steenify__page thankyou__page" data-view="thankyou" id="main__content">
    <div class="wrapper">
      <section class="thankyou__content">
        <div class="thankyou__icon">
          <img src="/public/img/404.png" alt="thankyou__icon">
        </div>
        <h2 class="thankyou__title">
          OOPS!
        </h2>

        <p class="thankyou__des">
          Xin lỗi. Chúng tôi không thấy trang mà bạn đang tìm kiếm.
        </p>
        <div class="thankyou__action">
          <a href="/" class="steenify-btn ">VỀ TRANG CHỦ </a>
        </div>
      </section>

    </div>
  </main>
  <% include ../partials/footer %>
</body>

</html>
