<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>

  <body>
    <% include ../partials/header %>
    <main class="steenify__page" data-view="home" id="main__content">
      <div class="wrapper">
        <h1>this is home page</h1>
      </div>
    </main>
    <% include ../partials/footer %>
  </body>
</html>
